{% extends 'base.html' %}
{% load static %}

{% block title %}
    Welcome to REACH
{% endblock %}

{% block navbar %}
    {% include 'partials/_navbar.html' %}
{% endblock navbar %}

{% block content %}

<!-- ======= Carousel ======= -->

<section id="home" class="section-1
">
<div id="intro-caro" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#intro-caro" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#intro-caro" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#intro-caro" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item c-item active">
            <img src="{% static 'img/c-1.jpg' %}" class="d-block w-100 c-image" alt="...">
            <div class="carousel-caption mt-5 d-md-block top-0 text-cont">
                <h3 class="mt-5 display-4 text-uppercase">Discover the Perfect Destination</h3>
                <p class="mt-3 fs-5">Explore Stunning Beaches and Resorts Tailored to Your Preferences</p>
                <a role="button" class="btn btn-primary shadow-none" href="selection"> <span class="getstarted">GET STARTED</span> </a>
            </div>~
        </div>
        <div class="carousel-item c-item">
            <img src="{% static 'img/slide2.jpg' %}" class="d-block w-100 c-image" alt="...">
            <div class="carousel-caption mt-5 d-md-block top-0 text-cont">
                <h3 class="mt-5 display-4 text-uppercase">Discover the Perfect Destination</h3>
                <p class="mt-3 fs-5">Explore Stunning Beaches and Resorts Tailored to Your Preferences</p>
                <a role="button" class="btn btn-primary shadow-none getstarted" href="selection"><span class="getstarted">GET STARTED</span></a>
            </div>
        </div>
        <div class="carousel-item c-item">
            <img src="{% static 'img/slide3.jpg' %}" class="d-block w-100 c-image" alt="...">
            <div class="carousel-caption mt-5 d-md-block top-0 text-cont">
                <h3 class="mt-5 display-4 text-uppercase">Discover the Perfect Destination</h3>
                <p class="mt-3 fs-5">Explore Stunning Beaches and Resorts Tailored to Your Preferences</p>
                <a role="button" class="btn btn-primary shadow-none getstarted" href="selection"><span class="getstarted">GET STARTED</span></a>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#intro-caro" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#intro-caro" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</section>


<!-- ======= How it Works ======= -->

<div class="wavy">
    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
        </defs>
        <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgb(227,246,245)">
        </g>
        <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgb(186,232,232)">
        </g>
        <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#2c698d">
        </g>
    </svg>
</div> 


        <!-- ======= How it Works ======= -->

        <section id="how_it_works" class="how_it_works mt-5 mb-5">

            <div class="container" data-aos="fade-up">

                <h4 class="display-5 text-center mb-4 pb-4 fw-semibold heading">How it Works</h4>
    
            <div class="row">
    
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="box">
                    <img src="{% static 'img/values-3.png' %}" class="img-fluid" alt="">
                    <h3>Evaluate Multiple Criteria</h3>
                    <p>Our system analyzes factors, to assess beach and resort options. 
                        This comprehensive evaluation provides insights to support decision-making.</p>
                </div>
                </div>
    
                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                <div class="box">
                    <img src="{% static 'img/values-2.png' %}" class="img-fluid" alt="">
                    <h3>Weighted Scoring System</h3>
                    <p>By using a multi-criteria approach, we assign weights to different factors based on user preferences. 
                        This personalized approach enables tailored recommendations, helping users select their ideal beach and resort.</p>
                </div>
                </div>
    
                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
                <div class="box">
                    <img src="{% static 'img/values-1.png' %}" class="img-fluid" alt="">
                    <h3>Decision Matrix and Ranking</h3>
                    <p>Our system generates rankings by evaluating beaches and resorts against defined criteria. 
                        These data-driven insights empower users to make informed choices and select the most suitable options for their preferences.</p>
                </div>
                </div>

                
    
            </div>
    
            </div>
    
        </section>

        <!-- End How it Works Section -->


<hr class="w-75 text-center mx-auto">


<!-- ======= About Section ======= -->
<section id="about" class="about mt-5 mb-5 ">

    <div class="container" data-aos="fade-up">
    <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="content">
            <h3>About Us</h3>
            <h2>REACH, we are passionate about helping you discover the perfect destinations that match your preferences.</h2>
            <p>
                Our system analyzes sentiments from Facebook reviews, providing ratings based on emotions like anger, sadness, neutrality, happiness, and being overwhelmed.
            </p>
            <div class="text-center text-lg-start">
                <a href="read_more" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                    <span>Read More</span>
                    <i class="ri-arrow-right-line"></i>
                </a>
            </div>
        </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{% static 'img/beach_about.png' %}" class="img-fluid" alt="">
        </div>

    </div>
    </div>

</section><!-- End About Section -->




<footer id="footer" class="footer">

    <div class="container">
    <div class="copyright">
        &copy; Copyright <strong><span>REACH</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
        Designed by <a href="#!">G-12</a>
    </div>
    </div>

</footer><!-- End Footer -->


{% endblock %}
