{% extends 'base.html' %}
{% load static %}

{% block title %}
    Selection
{% endblock %}

{% block navbar %}
    {% include 'partials/_navbar_readmore.html' %}
{% endblock navbar %}

{% block content %}
<div class="container mt-5">

    <form class="filter-form" action="{% url 'algo:filter_data' %}" method="GET">
        {% csrf_token %}

        <!-- Search bar section -->
        <div class="row mt-3">
            <div class="col mb-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Beach and Resort" name="search" value="{{ search_query }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </div>    

        <div class="filter-container">
            <div class="row d-flex justify-content-between">
                <div class="col-md-4 px-5">
                    <div class="filter">
                        
                        <span class="filter-heading">Select Your Choice</span>
                        <div class="form-check mt-3">
                            <label for="beach" class="container-r form-check-label">Beach
                                <input class="form-check-input radio-b" type="radio" name="beach_or_resort" id="beach" value="beach">
                                <span class="checkmark-r"></span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label for="resort" class="container-r form-check-label">Resort
                                <input class="form-check-input radio-b" type="radio" name="beach_or_resort" id="resort" value="resort">
                                <span class="checkmark-r"></span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label for="both" class="container-r form-check-label">Both
                                <input class="form-check-input radio-b" type="radio" name="beach_or_resort" id="both" value="both">
                                <span class="checkmark-r"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 px-5">
                    <div class="filter">
                        
                        <span class="filter-heading">Select Your Choice</span><br>
                        <span class="filter-subheading">(Accommodations)</span>
                        <div class="form-check mt-3">
                            <label for="rooms" class="container-b form-check-label">Rooms
                                <input class="form-check-input checkbox" type="checkbox" id="rooms" name="room" >
                                <span class="checkmark-b"></span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label for="cottage" class="container-b ">Cottage
                                <input class="form-check-input checkbox" type="checkbox" id="cottage" name="cottage" >
                                <span class="checkmark-b"></span>
                            </label>
                        </div>

                        <div class="form-check">
                            <label for="villa" class="container-b form-check-label">Villa
                                <input class="form-check-input checkbox" type="checkbox" id="villa" name="villa" >
                                <span class="checkmark-b"></span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label for="suites" class="container-b form-check-label">Tent / Camping
                                <input class="form-check-input checkbox" type="checkbox" id="suites" name="suites" >
                                <span class="checkmark-b"></span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label for="pools" class="container-b form-check-label">Swimming Pools
                                <input class="form-check-input checkbox" type="checkbox" id="pools" name="pools" >
                                <span class="checkmark-b"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 px-5">
                    <div class="filter">
                        
                        <span class="filter-heading">Select Your Choice</span><br>
                        <span class="filter-subheading">(Culture and Local Attractions)</span>
                        <div class="form-check mt-3">
                            <label for="food_and_dining" class="container-b form-check-label">Food and Dining
                                <input class="form-check-input checkbox" type="checkbox" id="food_and_dining" name="food_and_dining" >
                                <span class="checkmark-b"></span>
                            </label>
                        </div>

                        <div class="form-check">
                            <label for="historical_and_cultural" class="container-b form-check-label">Historical and Cultural
                                <input class="form-check-input checkbox" type="checkbox" id="historical_and_cultural" name="historical_and_cultural" >
                                <span class="checkmark-b"></span>
                            </label>
                        </div>

                        <div class="form-check">
                            <label for="festival_and_events" class="container-b form-check-label">Festival and Events
                                <input class="form-check-input checkbox" type="checkbox" id="festival_and_events" name="festival_and_events" >
                                <span class="checkmark-b"></span>
                            </label>
                        </div>

                        <div class="form-check">
                            <label for="natural_attractions" class="container-b form-check-label">Natural Attractions
                                <input class="form-check-input checkbox" type="checkbox" id="natural_attractions" name="natural_attractions" >
                                <span class="checkmark-b"></span>
                            </label>
                        </div>

                        <div class="form-check">
                            <label for="local_markets" class="container-b form-check-label">Local Markets and Shopping
                                <input class="form-check-input checkbox" type="checkbox" id="local_markets" name="local_markets" >
                                <span class="checkmark-b"></span>
                            </label>
                        </div>

                        <div class="form-check">
                            <label for="sports_and_recreation" class="container-b form-check-label">Sport and Recreation
                                <input class="form-check-input checkbox" type="checkbox" id="sports_and_recreation" name="sports_and_recreation" >
                                <span class="checkmark-b"></span>
                            </label>
                        </div>

                        <div class="form-check">
                            <label for="religious_sites" class="container-b form-check-label">Religious Sites
                                <input class="form-check-input checkbox" type="checkbox" id="religious_sites" name="religious_sites" >
                                <span class="checkmark-b"></span>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            
        </div>
            <div class="submit-button-filter mt-5 mb-4">
                <!-- Hidden input field for rating -->
                <input type="hidden" name="rating" id="rating-input" value="0">
                <input class="btn btn-primary explore-btn w-100 fw-semibold mt-2 mb-3" type="submit" value="EXPLORE" >
            </div>
        </form>   
    </div>


    <!-- FILTERing DATA -->
    <div class="container">
        {% if no_results %}
        <div class="result-head text-center my-3">
            <span class="result-heading">No Results Found</span>
        </div>
        {% else %}
            <!-- FILTER IN BEACH -->
            {% if selected_option == 'beach' %}
                <div class="result-head text-center my-3">
                    <span class="result-heading">Top Result</span><br>
                    <span class="result-subheading">(Beaches)</span>
                </div>
                <ul class="px-0">
                    {% for bandr in data %}
                    <div class="card text-white" style="max-width: 1500px;">
                        <img src="{{ bandr.image.url }}" alt="{{ bandr.name }}" class="img-fluid rounded mb-3 align-items-center img-result"style="height: 70vh; object-fit: cover;">
                        <div class="card-img-overlay">
                            <div class="position-absolute bottom-0 p-lg-5 p-3 text-light w-100 ">
                                <h4>{{ bandr.name }}</h4>
                                <span>{{ bandr.location }}</span><br>
                                {{ bandr.rating }} <!-- Display the rating number -->
                                <span class="star-rating">
                                    {% for i in "x"|ljust:bandr.rating %}
                                        <i class="fas fa-star"></i> <!-- Use Font Awesome star icon -->
                                    {% endfor %}
                                </span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </ul><!-- FILTER IN BEACH END-->
                

                <!-- FILTER IN RESORT -->
                {% elif selected_option == 'resort' %}
                <div class="result-head text-center my-3">
                    <span class="result-heading">Top Result</span><br>
                    <span class="result-subheading">(Resorts)</span>
                </div>
                <ul class="px-0">
                    {% for bandr in data %}
                    <div class="card text-white" style="max-width: 1500px;">
                        <img src="{{ bandr.image.url }}" alt="{{ bandr.name }}" class="img-fluid rounded w-100 mb-3 align-items-center img-result"style="height: 70vh; object-fit: cover;">
                        <div class="card-img-overlay">
                            <div class="position-absolute bottom-0 p-lg-5 p-3 text-light w-100 ">
                                <h4>{{ bandr.name }}</h4>
                                <span>{{ bandr.location }}</span><br>
                                {{ bandr.rating }} <!-- Display the rating number -->
                                <span class="star-rating">
                                    {% for i in "x"|ljust:bandr.rating %}
                                        <i class="fas fa-star"></i> <!-- Use Font Awesome star icon -->
                                    {% endfor %}
                                </span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </ul><!-- FILTER IN RESORT END-->

                <!-- FILTER IN BOTH -->
                {% elif selected_option == 'both' %}
                <div class="result-head text-center my-3">
                    <span class="result-heading">Top Result</span><br>
                    <span class="result-subheading">(Beaches and Resorts)</span>
                </div>
                <ul class="px-0">
                    {% for bandr in data %}
                    <div class="card text-white" style="max-width: 1500px;">
                        <img src="{{ bandr.image.url }}" alt="{{ bandr.name }}" class="img-fluid rounded mb-3 align-items-center img-result"style="height: 70vh; object-fit: cover;">
                        <div class="card-img-overlay">
                            <div class="position-absolute bottom-0 p-lg-5 p-3 text-light w-100 ">
                                <h4>{{ bandr.name }}</h4>
                                <span>{{ bandr.location }}</span><br>
                                {{ bandr.rating }} <!-- Display the rating number -->
                                <span class="star-rating">
                                    {% for i in "x"|ljust:bandr.rating %}
                                        <i class="fas fa-star"></i> <!-- Use Font Awesome star icon -->
                                    {% endfor %}
                                </span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </ul><!-- FILTER IN BOTH END-->
            {% endif %}
        {% endif %}
    </div>

    <footer id="footer" class="footer">

        <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>REACH</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
            Designed by <a href="#!">G-12</a>
        </div>
        </div>
    
    </footer><!-- End Footer -->

</div>



{% endblock content %}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".star").on("click", function () {
            $(this).prevAll().addBack().css("background-color", "#ffcc00");
            $(this).nextAll().css("background-color", "#ccc");
            var rating = $(this).index() + 1;
            $("#rating-input").val(rating);
        });
    });
</script>
